@using HeadHunter.ViewModels
@model User

@{
    ViewBag.Title = "User profile";
    var edm = ViewBag.EditViewModel as EditViewModel;
}

<div class="mt-4">
    <div class="row align-items-center">
        <div class="col-md-3 text-center">
            @if (Model.Avatar != null)
            {
                <img src="@Model.Avatar" class="img-thumbnail avatar-block rounded-circle" alt="User avatar">
            }
            else
            {
                <img src="https://i.pinimg.com/736x/6f/0b/3b/6f0b3baa01e2136b2e2d93709e622e2c.jpg" class="img-thumbnail avatar-block rounded-circle" alt="User avatar">
            }
        </div>
        <div class="col-md-9">
            <div class="d-flex align-items-center mb-2">
                <h2 class="me-3">@Model.UserName</h2>
                @if (!User.IsInRole("admin") && Model.UserName == User.Identity.Name)
                {
                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fa-solid fa-user-pen"></i>
                        Редактировать
                    </button>
                }
            </div>
            @if (Model.PhoneNumber != null)
            {
                <h6 class="text-muted mt-3"><i class="fa-solid fa-phone"></i> @Model.PhoneNumber</h6>
            }
            <h6 class="text-muted mt-1"><i class="fa-solid fa-calendar-days"></i> @Model.DateOfBirth.ToString("dd.MM.yyyy")</h6>
            @if (Model.UserName == User.Identity.Name)
            {
                <div class="mt-4">
                    @if (User.IsInRole("admin"))
                    {
                        <a class="btn btn-outline-dark" asp-controller="Account" asp-action="RegisterUser"><i class="fa-solid fa-user-plus"></i> Создать пользователя</a>
                        <a class="btn btn-outline-dark ml-1" asp-controller="Account" asp-action="Index"><i class="fa-solid fa-users"></i> Все пользователи</a>
                    }
                    @if (User.IsInRole("employer"))
                    {
                        <a class="btn btn-outline-dark" asp-controller="HeadHunter" asp-action="CreateVacancy"><i class="fa-solid fa-file-circle-plus HHL"></i> Создать Вакансию</a>
                        <a class="btn btn-outline-dark ml-1" asp-controller="HeadHunter" asp-action="AllResponsesVacancies"><i class="fa-regular fa-envelope text-success"></i> Отклики</a>
                    }
                    @if (User.IsInRole("applicant"))
                    {
                        <a class="btn btn-outline-dark" asp-controller="HeadHunter" asp-action="CreateResume">Создать Резюме</a>
                        <a class="btn btn-outline-dark ml-1" asp-controller="HeadHunter" asp-action="MyFeedback"><i class="fa-regular fa-envelope text-success"></i> Мои Отклики</a>
                    }
                </div>
            }
        </div>
    </div>
</div>

@if (User.IsInRole("employer") && Model.UserName == User.Identity.Name)
{
    <div class="mt-4">
        <h3>Вакансии</h3>
        @if (ViewBag.Vacancies != null && ViewBag.Vacancies.Count > 0)
        {
            <div class="row row-cols-1 g-3">
                @foreach (var vacancy in ViewBag.Vacancies)
                {
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">@vacancy.Title</h5>
                                <p class="card-text text-muted">Обновлено: @vacancy.UpdatedAt</p>
                                <div class="d-flex justify-content-end">
                                    <a asp-action="EditVacancy" asp-route-id="@vacancy.Id" asp-controller="HeadHunter" class="btn btn-outline-primary btn-sm me-2">Редактировать</a>
                                    @if (vacancy.IsPublished == true)
                                    {
                                        <a asp-action="UnpublishVacancy" asp-route-id="@vacancy.Id" asp-controller="HeadHunter" class="btn btn-outline-warning btn-sm me-2">Снять с публикации</a>
                                    }
                                    else
                                    {
                                        <a asp-action="PublicationVacancy" asp-route-id="@vacancy.Id" asp-controller="HeadHunter" class="btn btn-outline-warning btn-sm me-2">Опубликовать</a>
                                    }
                                    <a asp-action="DetailsVacancy" asp-route-id="@vacancy.Id" asp-controller="HeadHunter" class="btn btn-outline-success btn-sm me-2">Подробнее</a>
                                    <a asp-action="UpdateVacancy" asp-route-id="@vacancy.Id" asp-controller="HeadHunter" class="btn btn-outline-success btn-sm me-2">Обновить</a>
                                    <a asp-action="DeleteVacancy" asp-route-id="@vacancy.Id" asp-controller="HeadHunter" class="btn btn-outline-danger btn-sm">Удалить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <p>У вас нет созданных вакансий.</p>
        }
    </div>
}

@if (User.IsInRole("applicant") && Model.UserName == User.Identity.Name)
{
    <div class="mt-4">
        <h3>Резюме</h3>
        @if (ViewBag.Resumes != null && ViewBag.Resumes.Count > 0)
        {
            <div class="row row-cols-1 g-3">
                @foreach (var resume in ViewBag.Resumes)
                {
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">@resume.Title</h5>
                                <p class="card-text text-muted">Обновлено: @resume.LastUpdated</p>
                                <div class="d-flex justify-content-end">
                                    <a asp-action="EditResume" asp-route-id="@resume.Id" asp-controller="HeadHunter" class="btn btn-outline-primary btn-sm me-2">Редактировать</a>
                                    @if (resume.IsPublished == true)
                                    {
                                        <a asp-action="UnpublishResume" asp-route-id="@resume.Id" asp-controller="HeadHunter" class="btn btn-outline-warning btn-sm me-2">Снять с публикации</a>
                                    }
                                    else
                                    {
                                        <a asp-action="PublicationResume" asp-route-id="@resume.Id" asp-controller="HeadHunter" class="btn btn-outline-warning btn-sm me-2">Опубликовать</a>
                                    }
                                    <a asp-action="DetailsResume" asp-route-id="@resume.Id" asp-controller="HeadHunter" class="btn btn-outline-success btn-sm me-2">Подробнее</a>
                                    <a asp-action="UpdateResume" asp-route-id="@resume.Id" asp-controller="HeadHunter" class="btn btn-outline-success btn-sm me-2">Обновить</a>
                                    <a asp-action="DeleteResume" asp-route-id="@resume.Id" asp-controller="HeadHunter" class="btn btn-outline-danger btn-sm">Удалить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <p>У вас нет созданных резюме.</p>
        }
    </div>
}

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Редактировать</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="Edit" method="post">
                    <div class="mb-3">
                        <label for="UserName" class="form-label">Логин</label>
                        <input type="text" class="form-control" id="UserName" name="UserName" value="@edm.UserName" required />
                        <span class="text-danger">@ViewData["UserNameError"]</span>
                    </div>
                    <div class="mb-3">
                        <label for="Email" class="form-label">Электронная почта</label>
                        <input type="email" class="form-control" id="Email" name="Email" value="@edm.Email" required />
                        <span class="text-danger">@ViewData["EmailError"]</span>
                    </div>
                    <div class="mb-3">
                        <label for="DateOfBirth" class="form-label">Дата рождения</label>
                        <input type="date" class="form-control" id="DateOfBirth" name="DateOfBirth" value="@edm.DateOfBirth.ToString("yyyy-MM-dd")" required />
                    </div>
                    <div class="mb-3">
                        <label for="PhoneNumber" class="form-label">Номер телефона</label>
                        <input type="text" class="form-control" id="PhoneNumber" name="PhoneNumber" value="@edm.PhoneNumber" required />
                        <span class="text-danger">@ViewData["PhoneNumberError"]</span>
                    </div>
                    <div class="mb-3">
                        <label for="Avatar" class="form-label">Ссылка на аватар</label>
                        <input type="url" class="form-control" id="Avatar" name="Avatar" value="@edm.Avatar" />
                        <span class="text-danger">@ViewData["AvatarError"]</span>
                    </div>
                    <div class="mb-3">
                        <label for="Password" class="form-label">Пароль</label>
                        <input type="password" class="form-control" id="Password" name="Password" value="@edm.Password" required />
                        <span class="text-danger">@ViewData["PasswordError"]</span>
                    </div>
                    <button type="submit" class="btn btn-primary form-control">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</div>